*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
/*menu*/
.contenedor{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
}
.logo{    
    margin: 0;
    float: right;
    width: 30%;
    height: auto;
    font-size: 25px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background: #E38646;
    display: flex;
    flex-flow: column; 
    text-align: center;   
}
.redes a{
    color: white;
    margin-right: 5px;
}
.nav-bar{
    background: #E38646;
    padding: 20px;
    display: block;
    color: white;
    cursor: pointer;
    font-size: 1.5em;
    width: 70%;
}
.menu, .submenu{
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu{
    background: #555;
    width: 80%;
    margin-left: -100%;
    transition: all 0.5s;
}
.menu__link{
    display: block;
    padding: 20px;
    color: white;
    font-size: 1.2em;
    text-decoration: none;
}
.menu__link:hover{
    background: #444;
}
.submenu .menu__link:hover{
    background: #222;
}
.submenu{
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
}
.submenu .menu__link{
  background: #333;
  padding-left: 50px;
}
.mostrar{
    margin-left: 0;
}

/*finaliza el menu*/
/*carrusel*/
.slider{
    width: 98%;
    height: 600px;
    margin: auto;
    overflow: hidden;
}
.slider ul{
    display: flex;
    padding: 0;
    width: 300%;
    animation: cambio 20s infinite alternate;
    animation-timing-function: linear;
}

.slider li{
    width: 100%;
    list-style: none;

}
.slider li img{
    width: 100%;
}
@keyframes cambio {
    0%{margin-left: 0;}
    20%{margin-left: 0;}
    
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -200%;}
    100%{margin-left: -200%;}    
    
}
/*fin carrusel*/
.espacio{
    height: 300px;
    
}

.contenedor1{
    width: 100%;
	height: 100%;
    display: flex;
    flex-flow: row wrap;
}
.foto1{
    width: 50%;
    height: 500px;
    display: flex;
    justify-content: center;
	
}
.info1{
    background: #222;
    width: 50%;
    height: 500px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    color: aliceblue;
}

.contenedor2{
    width: 100%;
	height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
}
.infoFormulario{
    width: 50%;
    padding: 15px;
    display: flex;
    padding: 15px;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}
.contenedorformulario{
    width: 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.contenedorformulario form{
    background: red;
    width: 100%;   
    padding: 15px;
    display: flex;
    flex-flow:column;
    align-items: center;
}
.contenedorformulario form input{
    width: 60%;
    height: 35px;
    margin: 10px;
    border-radius: 50px;

}


@media(min-width:1024px){
    
    .nav-bar{
        display: none;
    }
    .menu{
        margin-left: 0;
        padding-right: 40px;
        display: flex;
        justify-content: center;
        width: 100%;
        
    }
    .container-submenu{
        position: relative;
    }
    .submenu{
        position: absolute;
        top: 60px;
        width: 200px;
        overflow: visible;
        z-index: 1000;
        opacity: 0;
        visibility: hidden;
    }
    .container-submenu:hover .submenu{
        opacity: 1;
        visibility: visible;
    }
    .logo{
        width: 100%;
        background: #E38646;
        padding-left: 40px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .redes{
        display: flex;
        flex-flow: row wrap;    
        justify-content: end;
        padding-right: 40px;
    }
    .redes a{
        margin-right: 15px;
        color: aliceblue;
    }
}
