*{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

nav{
    width: 100%;
    height: 80px;
    background-color: wheat;
}

ul{
    float: right;
    margin-right: 40px;
}
ul li{  
    display: inline-block;
    margin: 0px 5px;
    padding: 0px 5px;
}

nav li a {
    background: red;
    border-radius: 5px;
    padding: 5px;    
    font-size: 20px;
    color: white;
    text-decoration: none;
    display: block;
}

a i{
    color: white;
    padding-right: 10px;
}

.btn-menu{
float: right;
margin-right: 40px;
display: none;
}

.sub-menu{
    
}
